{% extends 'navbar.html' %}
{% block content %}

<!-- start About -->
    <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Sean 
                <span class="text-danger">Liebel</span>
                </h1>
                <div class="subheading mb-5">Fairport NY
                <a href="mailto:name@email.com">seanliebel@gmail.com</a>
                </div>
                <p class="card-text">My name is Sean Kevin Liebel and I am a recent graduate of Wagner College’s Quickstart Learning Full Stack Web Development Bootcamp. The Bootcamp began in February of 2020 and I finished in December of 2020, learning the fundaments of HTML, Cascading Stylesheets, Javascript(ReactJS/Redux, Angular), and Python as well. The Bootcamp had 23 courses in which a prior student of the program has continuous access to after they have completed the certification adding value to all of the content provided by edX a technology-based education company of Microsoft.</p>
      
                <h2>Portfolio PROJECTS</h2>

                <div class="row">
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="/static/img/linkedinclone.png" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="http://linkedin-clone-2c74f.web.app">LinkedIn React Redux clone</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                      <a href="http://linkedin-clone-2c74f.web.app"class="btn btn-secondary">Linkedin</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="/static/img/amazonclone.png" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="https://clone-ec248.web.app">Amazon Clone</a>
                        </h4>
                        <p class="card-text">A React Amazon clone app with Firebase for managing state data on the backend with Material-UI design.</p>
                      <a href="https://clone-ec248.web.app"class="btn btn-secondary">Amazon</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="/static/img/adviceapp.png" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="https://confident-tereshkova-c5f206.netlify.app">Advice App</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                        <a href="https://confident-tereshkova-c5f206.netlify.app" class="btn btn-secondary">Advice</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="/static/img/githubfinder.png" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="https://github-finder-e6b762.netlify.app">Project Four</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        <a href="https://github-finder-e6b762.netlify.app" class="btn btn-secondary">Finder</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Project Five</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Project Six</a>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
    <br/>
                <div class="social-icons">
                <a href="https://www.linkedin.com/in/sean-liebel-a18b04202/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/SeanKLiebel">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100027587984794&sk=about_overview">
                    <i class="fab fa-facebook-f"></i>
                </a>
                </div>
            </div>
            </section>
    </div>
    
    <!--End About -->
{% endblock%}