{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Full stack Certified Developer - Quickstart Learning 2020</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                New Media Design - University of Buffalo Certification</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - National Merited Honor Roll - Fairport High School honoree 2004</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                
                Associate Degree Communications and Media Arts- Monroe Community College - 2006</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Bachelors Degree - Rochester Institute Of Technology - Advertising & Public Relations 2009</li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                High School Diploma- Fairport High School - 2004</li>
            </ul>
        </div>
        </section>

</div>
{% endblock %}