{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">


        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Full Stack Web Developer</h3>
                <div class="subheading mb-3">Quickstart Learning Bootcamp</div>
                <p>Worked on HTML/CSS, Javascript libraries such as NodeJS, Express, and React primarily. Also know Python on a beginner level and studied the Django library. Learned the value of structure from frontend Hypertext Markup Language and Cascading Style Sheets to the backend with the likes of SQL, MongoDB and PostGresQl. </p>
               <p>One of the courses that helped to gain proficiency with back-end web development was “Building Functional Prototypes Using Node.js” where I began with an introduction to back-end web development learning Express. Then learned writing basic Server-Side Javascript with Node as well and began working with Databases like MongoDB. The course finished with learning how to deploy on Microsoft Azure.  Quickstart’s end goal for this course was for the student to be able to transform a basic web application model into something that can store live data.  

                Another two courses that were taught which exhibited great fundamentals of full stack development learning were “Introduction to ReactJS” and “React Router and Redux”. These courses were broken down into six main modules: 1. JSX and React components 2. State, Lifecycle, and Event Handlers and 3. Lists and forms all for Introduction to ReactJS, and for React Router and Redux they were: 1. React Router 2. React Redux and 3. React Redux. A React based to do list was created for learning the flow of state and event handlers in a CRUD application. 
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February 2020 - December 2020</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Social Media Marketer</h3>
                <div class="subheading mb-3">The Mac Groups</div>
                <p> Worked as a social media marketing agent for Mac Groups out of Amherst New York. 
                    Managed 5 accounts over the course of 5 months .</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">June 2015 - November 2015</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Telemarketer</h3>
                <div class="subheading mb-3">Community & Wellness Guide</div>
                <p>Managed over 150 calls per day and wrote 20 plus articles for the publication.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April 2012 - December 2014</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Sales and Public Relations Intern</h3>
                <div class="subheading mb-3">Market Genesys LLC</div>
                <p>Collaborated with owner to empower sales leads and public relations networks. Dynamically created B2B user materials out of Adobe Illustrator to be used for promotion.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2007 - June 2009</span>
            </div>
            </div>

        </div>

        </section>

        <hr class="m-0">

</div>
{% endblock %}
                